---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>Breathe out through the mouth, making a whooshing sound.</h1>
  <a href="2-count-four">I'm done</a>
  <img
    src="https://media0.giphy.com/media/Aaep8LXTjVxoowUpC6/giphy.gif?cid=ecf05e477eec2j0nd152fus9krmiu85mia2sgrkxc4zctlbq&ep=v1_gifs_search&rid=giphy.gif&ct=g"
    alt="breath out gif"
  />
</BaseLayout>

<style>
  img {
    display: block;
    margin-block: 1rem;
  }
</style>
