---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>Close the mouth and count to 4 while breathing in through the nose.</h1>
  <a href="3-hold-seven">Done with this step</a>
</BaseLayout>
