---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Countdown } from "../components/Countdown.tsx";
---

<BaseLayout>
  <h1>
    Close the mouth and count to
    <Countdown number={4} client:load />
     while breathing in through the nose.
  </h1>

  <a href="3-hold-seven">Done with this step</a>
</BaseLayout>
