---
import { Countdown } from "../components/Countdown";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>
    Count to
    <Countdown number={7} client:load />
     while holding the breath.
  </h1>
  <a href="4-breath-eight">Moving forward</a>
</BaseLayout>
