---
import { Countdown } from "../components/Countdown";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>
    Count to <Countdown number={8} client:load /> while breathing out through
    the mouth, making a whooshing sound.
  </h1>
  <a href="5-repeat-or-done">Done with this step</a>
</BaseLayout>
