---
import Start from "../components/Start";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>478 breathing technique 😌</h1>
  <p>This technique is a quick simple way for you to relax anywhere</p>
  <Start client:load />
</BaseLayout>
