---
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en">
  <BaseHead title="478 Breathing" />
  <body>
    <main class="container">
      <slot />
    </main>

    <footer class="container">
      <small>
        speedran by
        <a href="https://github.com/leovoon">leovoon</a>
      </small>
    </footer>
  </body>
</html>
