---
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en">
  <BaseHead
    title="478 Breathing"
    description="A simple site to help you practice 4-7-8 breathing."
  >
    <slot name="head" />
  </BaseHead>
  <body>
    <main class="container">
      <slot />
    </main>
    <hr />
    <footer class="container">
      <small transition:name="footer">
        Speedran by
        <a href="https://github.com/leovoon/breath">leovoon</a>.
        <a href="https://www.medicalnewstoday.com/articles/324417">
          Learn more about 4-7-8 breathing.
        </a>
      </small>
    </footer>
  </body>
</html>
